<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fibonacci</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body style="background-color:LightGrey">
    <br>
    <h1 class="text-center">Let's calculate Fibonacci number with three methods and compare theirs calculation times</h1>

    <form action="#" th:action="@{/}" th:object="${operationModel}" method="POST">
        <input type="number" min="0" th:field="*{n}" class="form-group" style="margin-left:50px"/>
        <p>
            <input type="submit" class="btn btn-primary" style="margin-left:50px" name="n" value="calculate Fibonacci"/>
        </p>
    </form>
        <h3 style="margin-left:50px"><p th:text="'Fibonacci number: ' + ${fResult}"/></h3><br>
        <h4 style="margin-left:50px"><p th:text="'Matrix method time: ' + ${fTime}"/></h4>
        <h4 style="margin-left:50px"><p th:text="'Iterative method time: ' + ${iTime}"/></h4>
        <h4 style="margin-left:50px"><p th:text="'Recursive method time*: ' + ${rTime}"/></h4>

    <div class="blockquote-footer">
        <h6 style="margin-left:50px">*Recursive method time is not indicated for n > 45</h6>
    </div>
</body>
</html>